{%extends 'base.html'%}
{% block content%}
    <div class="">
        {%if user.is_authenticated %}
            <h1 class="text-center">Records...</h1>
            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Address</th>
                        <th scope="col">Phone</th>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col">Zipcode</th>
                        <th scope="col">Created At</th>
                        <th scope="col">Record ID</th>
                    </tr>
    
                </thead> 
                <tbody>
                    
                {%if records%}
                    {%for record in records%}
                    <tr>

                        <td><a href="{%url 'customer_record' record.id %}">{{record.first_name}} {{record.last_name}}</a></td>
                        <td>{{record.email}}</td>
                        <td>{{record.address}}</td>
                        <td>{{record.phone}}</td>
                        <td>{{record.city}}</td>
                        <td>{{record.state}}</td>
                        <td>{{record.zipcode}}</td>
                        <td>{{record.createdAt}}</td>
                        <td><a href="{%url 'customer_record' record.id %}"> {{record.id}}</a></td>
                        </tr>

                    {%endfor%}
                {%endif%}
            
                </tbody>
        </table>
        {%else%}
        <div class="container ">
            <div class="row justify-content-center mt-5 ">
                <div class="col-md-5 bg-light">
                    <h1 class="text-center mb-4">Login</h1>
                    
                    <form method="POST" action="{% url 'home' %}">
                        {% csrf_token %}
                        
                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
                        </div>
                    
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
                        </div>
                        
                        <div class="text-center">
                            <button type="submit" class="btn btn-secondary">Login</button><br/><br/>
                            <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
            
        {%endif%}
    </div>
{%endblock%}